.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

.card-body a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px;
  border-style: dashed;
  padding: 4px;
  border-radius: 4px;
  background-color: rgba(68, 56, 238, 0.411);
  text-decoration: none;
}

.card-body a:hover {
  background-color: rgba(245, 185, 56, 0.801);
}

.card-body p {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 10px;
  opacity: 75%;
}
